:root{
    --main-bg-color: #c0c0c0;
    --main-color: #3D5350;
    --tablero-bg-color:#7B9492;
    --code-bg-color:#EEE0CB;
    --code-color:#A36A62;
    --siguiente-bg-color:#FF36AB;
    --configuracion-bg-color:#280003;
    --configuracion-color:#fff;
    --config-btn-bg-color:#999999;
}