@import url(https://fonts.googleapis.com/css?family=Pacifico|Roboto);

body{
    font-family: 'Roboto', serif;
    font-size: 30px;
    color: white;
}

.headerFont{ 
    font-family: 'Pacifico', serif;
    font-size: 50px;
    color: white;
}

#textoLista a:hover{
    color:orange;
}

.nav-item{
    text-align: right;
}

#entrada{
    text-align: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
    color: #FFF;
}

::placeholder {
    color: orange;
}

#resultado{
    display: inline;
    background-color: #9fabab;
}

.verdadero{
    color: green;
}

.falso{
    color: red;
}


  
