body
{
    background-color: black;
}

h1
{
    font-family: Courier, monospace, 'Courier New';
    text-align: center;
    font-size: 72px;
    padding-top: 10px;
    letter-spacing: 12px;
    color: grey;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
}

.shape-drawer {
    flex-grow: 4;
}