
$test:#f8f9fa;
$back:rgba(16, 33, 39, 0.884);
$grisOcuro:#222222;
$pIntenso: #3700B3;
$pSuave:#BB86FC;
$ButtonBackgroundColor:#f8f9fa;
$colorPrueba:rgb(255, 224, 224);
$backlight:#CED097;
$colorDark0:#023618;
$colorDark1:#E54B4B;
$colorDark2:#F56476;
$colorDark3:#33658A;
$colorDark4:#F6AE2D;
$colorDark5:#008DD5;
$colorDark6:#6B4E71;
$colorDark7:#6B0F1A;
$colorDark8:#A6ECE0;
$colorDark9:#FFA987;
$colorLight0:#2292A4;
$colorLight1:#BDBF09;
$colorLight2:#D96C06;
$colorLight3:#E36397;
$colorLight4:#17C3B2;
$colorLight5:#1e1e1e;
$colorLight6:#A31621;
$colorLight7:#584B53;
$colorLight8:#5603AD;
$colorLight9:#FF5A5F;

$backdark:$colorLight7;
$borderColor:$back;
$borderPixel:3px;
$borderColorDark:#005C69;
.botonGrilla{
    height: 30px;
    width: 30px;
    text-transform: uppercase;
    background-color: $ButtonBackgroundColor; 
    font: 1em sans-serif;
    body.dark &{
      background: $back;
    color: $backlight;
    border-color: $pIntenso;
    }
    border:none;
}
.selected {
  background-color: $borderColor;
  body.dark &{
    background-color: $borderColorDark;
  }
}
.leftBordered{
  border-left: $borderPixel solid $borderColor !important;
  body.dark &{
    border-left: $borderPixel solid $borderColorDark !important;
  }
}
.rightBordered{
  border-right: $borderPixel solid $borderColor !important;
  body.dark &{
    border-right: $borderPixel solid $borderColorDark !important;
  }
}
.topBordered{
  border-top: $borderPixel solid $borderColor !important;
  body.dark &{
    border-top: $borderPixel solid $borderColorDark !important;
  }
}
.bottomBordered{
  border-bottom: $borderPixel solid $borderColor !important;
  body.dark &{
    border-bottom: $borderPixel solid $borderColorDark !important;
  }
}
.cornerBottomLeft{
  border-bottom: $borderPixel solid $borderColor !important;
  border-left: $borderPixel solid $borderColor !important;
  border-radius: $borderPixel;
  body.dark &{
    border-bottom: $borderPixel solid $borderColorDark !important;
    border-left: $borderPixel solid $borderColorDark !important;
    border-radius: $borderPixel;
  }
}
.cornerBottomRight{
  border-bottom: $borderPixel solid $borderColor !important;
  border-right: $borderPixel solid $borderColor !important;
  border-radius: $borderPixel;
  body.dark &{
    border-bottom: $borderPixel solid $borderColorDark !important;
    border-right: $borderPixel solid $borderColorDark !important;
    border-radius: $borderPixel;
  }
}
.cornerTopLeft{
  border-top: $borderPixel solid $borderColor !important;
  border-left: $borderPixel solid $borderColor !important;
  border-radius: $borderPixel;
  body.dark &{
    border-top: $borderPixel solid $borderColorDark !important;
    border-left: $borderPixel solid $borderColorDark !important;
    border-radius: $borderPixel;
  }
}
.cornerTopRight{
  border-top: $borderPixel solid $borderColor !important;
  border-right: $borderPixel solid $borderColor !important;
  border-radius: $borderPixel;
  body.dark &{
    border-top: $borderPixel solid $borderColorDark !important;
    border-right: $borderPixel solid $borderColorDark !important;
    border-radius: $borderPixel;
  }
}


li.disabled {
  text-decoration: line-through;
}

body{
  background: $backlight;
  font-family: 'Roboto', sans-serif;
  transition: .3s ease all;
  &.dark{
    background: $colorLight5;
    color:#ffdd0a;
    $borderColor:#005C69;
  }
}

.switch{
    background: #343D5B;
    border-radius: 100px;
    border: none;
    position: relative;
    margin-top: 7px;
    cursor: pointer;
    display: flex;
    outline: none;
    &::after{
      content: "";
      display: block;
      width: 27.5px;
      height: 27.5px;
      position: absolute;
      background: #F1F1F1;
      top:0;
      left: 0;
      right: unset;
      border-radius: 100px;
      transition: .3s ease all;
      box-shadow: 0px 0px 2px 2px rgba(0,0,0,.2);
    }
    &.active{
      background: #ffdd0a;
      color:#000;
      &::after{
        right:0;
        left:unset;
      }
    }
    span{
      width: 25px;
      height: 25px;
      line-height: 25px;
      display: block;
      background: none;
      color: #FFF;
    }
}

.list-group-item{
  background: $test;
  border:2px solid $borderColor !important;
  body.dark &{
    background: $back;
    color: $backlight;
    border:2px solid $borderColorDark !important;
    
  }
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: $borderColor;
  body.dark &{
    color:$borderColorDark
  }
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: $borderColor;
  body.dark &{
    color:$borderColorDark
  }
}
a.carousel-control-prev,
a.carousel-control-next {
  top: 50%;
    bottom: 50%;
}
#found0{
  background-color: $colorLight0;
  body.dark &{
    background-color: $colorDark0;
  } 
}
#found1{   
  background-color: $colorLight1;
  body.dark &{
    background-color: $colorDark1;
  } 
}
#found2{
  background-color: $colorLight2;
  body.dark &{
    background-color: $colorDark2;
  } ;
}
#found3{
  background-color: $colorLight3;
  body.dark &{
    background-color: $colorDark3;
  } 
}
#found4{
  background-color: $colorLight4;
  body.dark &{
    background-color: $colorDark4;
  } 
}
#found5{
  background-color: $colorLight5;
  body.dark &{
    background-color: $colorDark5;
  } 
}
#found6{
  background-color: $colorLight6;
  body.dark &{
    background-color: $colorDark6;
  } 
}
#found7{
  background-color: $colorLight7;
  body.dark &{
    background-color: $colorDark7;
  } 
}
#found8{
  background-color: $colorLight8;
  body.dark &{
    background-color: $colorDark8;
  } 
}
#found9{
  background-color: $colorLight9;
  body.dark &{
    background-color: $colorDark9;
  } 
}