.w3-theme-dark {
    color:#fff !important; 
    background-color:#3f3f3f !important
}

.w3-theme-header {
    color: #f5f5f5 !important; 
    background-color: #2626267e
}

.w3-theme-sidebar {
    color: #f0f0f0 !important; 
    background-color: #3f3f3f
}

.btn-main { 
    color: #3f3f3f; 
    background: #feda6a; 
    border-color: #f5f5f5 
}

.btn-main:focus { 
    color: #f0f0f0; 
    background-color: #f7c122; 
    border-color: #f7c122; 
    box-shadow: 0 0 0 0.2rem #f7c222ad; 
}

.btn-main:hover {
    color: #f0f0f0;
    background-color: #f7c122;
    border-color: #f7c122;
}

