body {
    width: 100%;
    height: 100%;
}
html {
    width: 100%;
    height: 100%;
}


.navbar-default .navbar-nav > li > a:hover {
	color: #333;
	background-color: #F0F0F0;
}
.navbar-default {
    background-color: #fff;
    border-color: #e7e7e7;
}
.navbar-default .navbar-nav > li > a {
    color: #337ab7;
    font-size: 11px;
}

.nav li ul {
    display:none;
    position:absolute;
    min-width:100px;
    color: #333;
}
			
.nav li:hover > ul {
    display:block;
    color: #333;
}

.nav li a {
    color:#333;
    text-decoration:none;
    padding:12px 9px;
    display:block;
    background-color: #fff;
}


.quienessomos-section {
    height: 100%;
    padding-top: 80px;
    text-align: center;
    background: #fff;
    color: #337ab7;
}

.analizador-section {
    min-height: 100%;
    height:auto;
    padding-top: 90px;
    text-align: center;
    background: #EBFAFF;
    display:block;
    color: #337ab7;
}
.repeticiones-section {
    min-height: 100%;
    height:auto;
    padding-top: 70px;
    text-align: center;
    background: #fff;
    color: #337ab7;
}

.proporciones-section {
    min-height: 100%;
    height:auto;
    padding-top: 70px;
    text-align: center;
    background: #EBFAFF;
    color: #337ab7;
}

rojo{
    color: #ff0000;
}

verde{
    color:#9FF103;
}

amarillo{
    color:#F1C503;
}


.lista {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 11px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.lista-desplegable {
  color: #333;
  background-color: transparent;
  border-color: transparent;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}

