:root{
    --main-bg-color: #302c6c;
    --main-color: #cbbde2;
    --tablero-bg-color:#B3B3B3;
    --code-bg-color:transparent;
    --code-color:#ffe484;
    --siguiente-bg-color:#4FC751;
    --configuracion-bg-color:#b3b3b3;
    --configuracion-color:#fff;
    --config-btn-bg-color:#523084;
}